@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background-image: url("https://source.unsplash.com/EVQH70oYYNM");
$font: 'Roboto', sans-serif;

$custom-blue-transparent: rgba(17 117 162 / 0.4);
$custom-blue: rgb(17 117 162);